<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unir.grupo2.myzeancoach">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar">
        <activity
            android:name=".ui.LoginAndUserData.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".ui.MEssentialInfo.TestActivity"
            android:theme="@style/AppThemeActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MEssentialInfo.VideoYoutubeActivity"
            android:theme="@style/AppThemeActionBar"
        android:screenOrientation="landscape" />
        <activity
            android:name=".ui.MLeisure.AddPostActivity"
            android:theme="@style/AppThemeActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MLeisure.CommentActivity"
            android:theme="@style/AppThemeActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MCooperativeSol.DilemmaCommentActivity"
            android:theme="@style/AppThemeActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MCooperativeSol.AmendDilemmaActivity"
            android:theme="@style/AppThemeActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MCooperativeSol.AddDilemmaActivity"
            android:theme="@style/AppThemeActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MCooperativeSol.AddCommentActivity"
            android:theme="@style/AppThemeActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginAndUserData.CreateUserActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.LoginAndUserData.RecoveryPasswordActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.MWelfare.MainExerciseActivity"
            android:theme="@style/AppThemeActionBar"
            android:screenOrientation="portrait" />
        <!-- Pushy Declarations -->

        <!-- Pushy Notification Receiver -->
        <!-- Incoming push notifications will invoke the following BroadcastReceiver -->
        <receiver android:name=".ui.PushReceiver" android:exported="false">
            <intent-filter>
                <!-- Do not modify this -->
                <action android:name="pushy.me" />
            </intent-filter>
        </receiver>

        <!-- Pushy Update Receiver -->
        <!-- Do not modify - internal BroadcastReceiver that restarts the listener service -->
        <receiver android:name="me.pushy.sdk.receivers.PushyUpdateReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Pushy Boot Receiver -->
        <!-- Do not modify - internal BroadcastReceiver that restarts the listener service -->
        <receiver android:name="me.pushy.sdk.receivers.PushyBootReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!-- Pushy Socket Service -->
        <!-- Do not modify - internal socket service -->
        <service android:name="me.pushy.sdk.services.PushySocketService"/>

        <!-- End Pushy Declarations -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f8f5d4ebe8121c78cf7f90f6605303e431ee5174" />
    </application>

</manifest>